// abstract = variables,function,mixins,placeholder

// variables
$primaryColor : #845EC2;
$pink: #ff506f;
$white: #fff;

// base = normalize,reset,typography
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


  body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }


// other styles


// loader

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100px;
  height: 100px;
  animation: ani 1s linear infinite;
}

#loader span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #f00;
  animation: rotate 1s linear infinite;
}

#loader span:nth-child(1) {
  top: 0;
  left: 0;
  background: #f79f1f;
}

#loader span:nth-child(2) {
  top: 0;
  right: 0;
  background: #12cbc4;
}

#loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  background: #ed4c67;
}

#loader span:nth-child(4) {
  bottom: 0;
  right: 0;
  background: #a3cb38;
}

@keyframes ani {
  0% {
      width: 100px;
      height: 100px;
  }
  10% {
      width: 100px;
      height: 100px;
  }
  50% {
      width: 150px;
      height: 150px;
  }
  90% {
      width: 100px;
      height: 100px;
  }
  100% {
      width: 100px;
      height: 100px;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  10% {
      transform: rotate(0deg);
  }
  60% {
      transform: rotate(90deg);
  }
  90% {
      transform: rotate(90deg);
  }
  100% {
      transform: rotate(90deg);
  }
}


// clock
#clock {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: $primaryColor;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 1.3rem;
    padding-bottom: 1rem;
}


/* navBar */
  
  nav {
    background-color: #593796;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    perspective: 600px;
  }

  .cool > li > a {
    color: #DEB2FF;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0,0,0,0.2);
    padding: 15px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cool > li {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .userImg {
    width: 100px;
    height: 100px;
  }

  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
  }

  .trigger-enter .dropdown {
    display: block;
  }

  .trigger-enter-active .dropdown {
    opacity: 1;
  }
  
  .dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  .dropdownBackground.open {
    opacity: 1;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
  }

  .bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
  }

  .bio img {
    float: left;
    margin-right: 20px;
  }

  .courses {
    min-width: 300px;
  }

  .courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .dropdown a {
    text-decoration: none;
    color: #ffc600;
  }

  a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }

  /* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
  .button[href*=twitter] { background: #019FE9; }
  .button[href*=facebook] { background: #3B5998; }
  .button[href*=courses] { background: #ffc600; }


  // change background-theme
.theme {
  
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: flex-end;
margin-top: 13rem;
margin-right: 0.1rem;
  .theme__dv {
    width: 50px;
    height: 50px;
    
  }
  .theme__1, .theme__2, .theme__3 {
    border: 1px solid #000;
    cursor: pointer;
   margin-top: 1rem;
  }
  .theme__1 {
    background-color: #7CEC9F;
    
  }
  .theme__2 {
    background-color: #fff;
 
  }
  .theme__3 {
    background-color: #FD79A8;
  }
}

